body {
  margin:0px;
  background-color:rgba(231, 229, 226, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1552px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3130 {
  position:absolute;
  left:0px;
  top:0px;
  width:1552px;
  height:1571px;
  overflow:hidden;
  visibility:hidden;
}
#u3130_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1552px;
  height:1571px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3130_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1559px;
  height:1498px;
  background:inherit;
  background-color:rgba(188, 188, 188, 0.717647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3133 {
  position:absolute;
  left:-7px;
  top:0px;
  width:1559px;
  height:1498px;
}
#u3134 {
  position:absolute;
  left:2px;
  top:741px;
  width:1555px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:313px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3135 {
  position:absolute;
  left:594px;
  top:712px;
  width:548px;
  height:313px;
}
#u3136 {
  position:absolute;
  left:2px;
  top:148px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:53px;
  background:inherit;
  background-color:rgba(2, 46, 99, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3137 {
  position:absolute;
  left:594px;
  top:712px;
  width:548px;
  height:53px;
}
#u3138 {
  position:absolute;
  left:2px;
  top:18px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
}
#u3139 {
  position:absolute;
  left:604px;
  top:731px;
  width:98px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3140 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u3141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3141 {
  position:absolute;
  left:1097px;
  top:726px;
  width:28px;
  height:28px;
}
#u3142 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u3143 {
  position:absolute;
  left:676px;
  top:828px;
  width:409px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u3144 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  white-space:nowrap;
}
#u3145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(87, 150, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#5796FF;
}
#u3145 {
  position:absolute;
  left:774px;
  top:930px;
  width:99px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#5796FF;
}
#u3146 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u3147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:inherit;
  background-color:rgba(87, 150, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3147 {
  position:absolute;
  left:890px;
  top:930px;
  width:99px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3148 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u3149 {
  position:absolute;
  left:1082px;
  top:714px;
  width:58px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3150 {
  position:absolute;
  left:758px;
  top:930px;
  width:112px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3151 {
  position:absolute;
  left:880px;
  top:930px;
  width:99px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
