body {
  margin:0px;
  background-color:rgba(231, 229, 226, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2054px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2080px;
  height:1410px;
}
#u19 {
  position:absolute;
  left:-13px;
  top:-97px;
  width:2080px;
  height:1410px;
}
#u20 {
  position:absolute;
  left:2px;
  top:697px;
  width:2076px;
  visibility:hidden;
  word-wrap:break-word;
}
